/client/cmake-build-debug/
/server/cmake-build-debug/
/cmake_install.cmake
/CMakeCache.txt
/Makefile
/CMakeFiles/
/client/client_output/
/server/CMakeFiles/
/server/server_output/
/server/CMakeCache.txt
